{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="container mt-5 mb-5" data-bs-theme="light">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-75 mt-5 mb-5 me-5'>
        <div class='user-header d-flex'>
            <div class='user-part d-flex me-auto'>
              <div class='me-4'>
                {% if user.image %}
                <img class="user_image" width="100" height="100" src="{{ user.image.url }}" alt="user_img">
                {% else %}
                <img class="user_image" width="100" height="100" src="{% static 'default.jpg' %}" alt="user_img">
                {% endif %}
              </div>
              <div class='mb-auto mt-auto'>
                <h3 class='fw-bold'>{{ user.username }}</h3>
                <h6 class="text-secondary">{{ user.first_name }} {{ user.second_name }}</h6>
              </div>
            </div>
            <div class='user-info-part mb-auto mt-auto d-flex'>
              <div class="text-center me-4">
                <h3 class='fw-bold' style='margin-bottom: 0;'>{{ films_count }}</h3>
                <small class='text-secondary'>Films</small>
              </div>
              <div class="text-center me-4">
                <h3 class='fw-bold' style='margin-bottom: 0;'>{{ favorites_count }}</h3>
                <small class='text-secondary'>Favorites</small>
              </div>
              <div class="text-center me-4">
                <h3 class='fw-bold' style='margin-bottom: 0;'>{{ ratings_count }}</h3>
                <small class='text-secondary'>Ratings</small>
              </div>
              <div class="text-center">
                <h3 class='fw-bold' style='margin-bottom: 0;'>{{ reviews_count }}</h3>
                <small class='text-secondary'>Reviews</small>
              </div>
            </div>
        </div>
        <div>
          <span class='text-secondary'>
            {{ user.description }}
          </span>
        </div>
        <ul class="nav nav_filter_by nav-underline justify-content-center border border-secondary border-opacity-25 mt-4 mb-4 rounded">
          <li class="nav-item">
              <a class="nav-link {% if request.GET.filter_val == None %} link-dark {% endif %} me-3" aria-current="page" href="{% url 'movies:list' %}">
                  <h5>Profile</h5>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="{% url 'movies:list' %}?filter_val=movie">
                  <h5>Films</h5>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="{% url 'movies:list' %}?filter_val=movie">
                <h5>Favorites</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="{% url 'movies:list' %}?filter_val=movie">
                <h5>Watchlist</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="{% url 'movies:list' %}?filter_val=movie">
                <h5>Reviews</h5>
            </a>
          </li>
        </ul>
        <div class='user-info-columns d-flex'>
          <div class='user-left-info me-auto'>
            <div class='user-favorites mt-5 w-75'>
              <div class='d-flex justify-content-between'>
              <h4 class='fw-bold mb-3'>Recent favorites</h4>
              </div>
              <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4">
                {% for fav in user.fav_user_set.all|slice:":4" %}
                <div class="col">
                    <div class="card bg-transparent">
                        <a href="{{ fav.movie.get_absolute_url }}" class="card_image_link text-decoration-none">
                        <img src="{{ fav.movie.poster }}" class="card-img-top card_gradient page_detail_other_image" style='width: 140px; height: 200px;' />
                        </a>
                    </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class='user-reviews mt-5 w-75'>
              <h4 class='fw-bold mb-3'>Recent reviews</h4>
              {% include 'movies/reviews_base.html' with reviews=user.review_user_set.all|slice:":4" width=100 %}
            </div>
          </div>
          <div class='user-right-info'>
            <div class='user-activity mt-5'>
              <h4 class='fw-bold'>Activity</h4>
              <ul class="list-group list-group-flush">
                {% for obj in activities|slice:":5" %}
                <li class="list-group-item">
                  {% if obj.type == 'review' %}
                  <span class='text-secondary'>Reviewed </span>
                  <a href="{{ obj.review.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ obj.review.movie.title }}
                  </a>
                  {% elif obj.type == 'favorite' %}
                  <span class='text-secondary'>Favorited </span>
                  <a href="{{ obj.favorite.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ obj.favorite.movie.title }}
                  </a>
                  {% elif obj.type == 'rating' %}
                  <span class='text-secondary'>Rated <span class="{% if obj.rating.rating < 5 %} text-danger {% elif obj.rating.rating < 7 %} text-warning {% elif obj.rating.rating <= 10 %} text-success {% endif %}">{{ obj.rating.rating }}</span></span>
                  <a href="{{ obj.rating.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ obj.rating.movie.title }}
                  </a>
                  {% endif %}
                  <br>
                  <small class='text-muted'>{{ obj.created_at|timesince }} ago</small>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
{% endblock %}