{% load static %}
<div class="user-header">
  <div class='d-flex'>
    <div class='user-part d-flex me-auto'>
      <div class='me-4'>
        {% if user.image %}
        <img class="user_image" width="100" height="100" src="{{ user.image.url }}" alt="user_img">
        {% else %}
        <img class="user_image" width="100" height="100" src="{% static 'default.jpg' %}" alt="user_img">
        {% endif %}
      </div>
      <div class='mb-auto mt-auto'>
        <h3 class='fw-bold'>{{ user.username }}</h3>
        <h6 class="text-secondary">{{ user.first_name }} {{ user.second_name }}</h6>
      </div>
    </div>
    <div class='user-info-part mb-auto mt-auto d-flex'>
      <div class="text-center me-4">
        <h3 class='fw-bold' style='margin-bottom: 0;'>{{ films_count }}</h3>
        <small class='text-secondary'>Films</small>
      </div>
      <div class="text-center me-4">
        <h3 class='fw-bold' style='margin-bottom: 0;'>{{ favorites_count }}</h3>
        <small class='text-secondary'>Favorites</small>
      </div>
      <div class="text-center me-4">
        <h3 class='fw-bold' style='margin-bottom: 0;'>{{ ratings_count }}</h3>
        <small class='text-secondary'>Ratings</small>
      </div>
      <div class="text-center">
        <h3 class='fw-bold' style='margin-bottom: 0;'>{{ reviews_count }}</h3>
        <small class='text-secondary'>Reviews</small>
      </div>
    </div>
  </div>
  <div>
    <span class='text-secondary'>
    {{ user.description }}
    </span>
  </div>
  <ul class="nav nav_filter_by nav-underline justify-content-center border border-secondary border-opacity-25 mt-4 mb-4 rounded">
    <li class="nav-item">
      {% url 'users:detail' user.pk as user_url %}
      <a class="nav-link {% if request.path == user_url %} link-dark {% endif %} me-3" aria-current="page" href="{{ user.get_absolute_url }}">
        <h5>Profile</h5>
      </a>
    </li>
    <li class="nav-item">
      {% url 'users:user_activity' user.pk as activity_url %}
      <a class="nav-link {% if request.path == activity_url %} link-dark {% endif %} me-3" href="{% url 'users:user_activity' user.pk %}">
        <h5>Activity</h5>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="">
        <h5>Favorites</h5>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="">
        <h5>Ratings</h5>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.GET.filter_val == 'movie' %} link-dark {% endif %} me-3" href="">
        <h5>Reviews</h5>
      </a>
    </li>
  </ul>
</div>