{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="container mt-5 mb-5" data-bs-theme="light">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-75 mt-5 mb-5 me-5'>
        {% include 'users/user_header.html' %}
        <div class='user-info-columns d-flex'>
          <div class='user-left-info me-auto' style='width: 46rem;'>
            <div class='user-ratings mt-5 w-75'>
              <div class='d-flex justify-content-between'>
                <h4 class='fw-bold mb-3'>Recent ratings</h4>
              </div>
              {% if not user.rating_user_set.all %}
              <span class='text-secondary'>No recent ratings</span>
              {% endif %}
              <table class="table">
                {% for rating in user.rating_user_set.all|slice:":5" %}
                <tbody>
                  <tr>
                    <td><a class="link-secondary text-decoration-none" href="{{ rating.movie.get_absolute_url }}">{{ rating.movie.title }}</a></td>
                    <th><span class="{% if rating.rating < 5 %} text-danger {% elif rating.rating < 7 %} text-warning {% elif rating.rating <= 10 %} text-success {% endif %}">{{ rating.rating }}</span></th>
                    <td class='text-muted'><small>{{ rating.creation_date|date:"d.m.Y" }}</small></td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
            <div class='user-favorites mt-5 w-75'>
              <div class='d-flex justify-content-between'>
                <h4 class='fw-bold mb-3'>Recent favorites</h4>
              </div>
              {% if not user.fav_user_set.all %}
              <span class='text-secondary'>No recent favorites</span>
              {% endif %}
              <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4">
                {% for fav in user.fav_user_set.all|slice:":4" %}
                <div class="col">
                  <div class="card bg-transparent">
                    <a href="{{ fav.movie.get_absolute_url }}" class="card_image_link text-decoration-none">
                    <img src="{{ fav.movie.poster }}" class="card-img-top card_gradient page_detail_other_image" style='width: 120px; height: 185px;' />
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class='user-reviews mt-5 w-75'>
              <h4 class='fw-bold mb-3'>Recent reviews</h4>
              {% if not user.review_user_set.all %}
              <span class='text-secondary'>No recent reviews</span>
              {% endif %}
              {% include 'movies/reviews_base.html' with reviews=user.review_user_set.all|slice:":4" %}
            </div>
          </div>
          <div class='user-right-info' style='width: 14rem;'>
            <div class='user-activity mt-5'>
              <h4 class='fw-bold'>Activity</h4>
              {% if not activities %}
              <span class='text-secondary'>No activity</span>
              {% endif %}
              <ul class="list-group list-group-flush">
                {% for obj in activities|slice:":5" %}
                <li class="list-group-item">
                  {% if obj.type == 'review' %}
                  <span class='text-secondary'><i class="fa-solid fa-bars-staggered"></i> </span>
                  <a href="{{ obj.review.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  {{ obj.review.movie.title }}
                  </a>
                  {% elif obj.type == 'favorite' %}
                  <span class='text-secondary'><i class="fa-regular fa-heart"></i> </span>
                  <a href="{{ obj.favorite.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  {{ obj.favorite.movie.title }}
                  </a>
                  {% elif obj.type == 'rating' %}
                  <span class='text-secondary'><i class="fa-regular fa-star"></i> <span class="fw-bold {% if obj.rating.rating < 5 %} text-danger {% elif obj.rating.rating < 7 %} text-warning {% elif obj.rating.rating <= 10 %} text-success {% endif %}">{{ obj.rating.rating }}</span></span>
                  <a href="{{ obj.rating.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  {{ obj.rating.movie.title }}
                  </a>
                  {% elif obj.type == 'wl' %}
                  <span class='text-secondary'><i class="fa-regular fa-clock"></i></span>
                  <a href="{{ obj.wl.movie.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  {{ obj.wl.movie.title }}
                  </a>
                  {% endif %}
                  <br>
                  <small class='text-muted'>{{ obj.created_at|timesince }}</small>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}