{% extends 'base.html' %}
{% block title %}{{ user.username }}'s activity{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="container mt-5 mb-5" data-bs-theme="light">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-75 mt-5 mb-5 me-5'>
        {% include 'users/user_header.html' %}
        {% if not activity %}
        <h3 class="text-center mt-5">No films found.</h3>
        {% endif %}
        <table class="table">
          {% for obj in activity.activities %}
          <tbody>
            <tr>
              {% if obj.type == 'review' %}
              <th><i class="fa-solid fa-bars-staggered text-secondary"></i></th>
              <td><a class="link-secondary text-decoration-none" href="{{ obj.review.movie.get_absolute_url }}">{{ obj.review.movie.title }}</a></td>
              <th>
                {% if obj.review.impression == 1 %}
                <span class="text-success"><i class="fa-regular fa-face-smile"></i> Nice</span>
                {% elif obj.review.impression == 0 %}
                <span class="text-muted"><i class="fa-regular fa-face-meh"></i> Meh</span>
                {% elif obj.review.impression == -1 %}
                <span class="text-danger"><i class="fa-regular fa-face-frown"></i> Bad</span>
                {% endif %}
              </th>
              {% elif obj.type == 'favorite' %}
              <th><i class="fa-regular fa-heart text-secondary"></i></th>
              <td><a class="link-secondary text-decoration-none" href="{{ obj.favorite.movie.get_absolute_url }}">{{ obj.favorite.movie.title }}</a></td>
              <th></th>
              {% elif obj.type == 'rating' %}
              <th><i class="fa-regular fa-star text-secondary"></i></th>
              <td><a class="link-secondary text-decoration-none" href="{{ obj.rating.movie.get_absolute_url }}">{{ obj.rating.movie.title }}</a></td>
              <th><span class="{% if obj.rating.rating < 5 %} text-danger {% elif obj.rating.rating < 7 %} text-warning {% elif obj.rating.rating <= 10 %} text-success {% endif %}">{{ obj.rating.rating }}</span></th>
              {% elif obj.type == 'wl' %}
              <th><i class="fa-regular fa-clock text-secondary"></i></th>
              <td><a class="link-secondary text-decoration-none" href="{{ obj.wl.movie.get_absolute_url }}">{{ obj.wl.movie.title }}</a></td>
              <th></th>
              {% endif %}
              <td class='text-muted'><small>{{ obj.created_at|date:"d.m.Y" }}</small></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% include 'pagination.html' %}
    </div>
  </div>
</div>
{% endblock %}