{% extends 'base.html' %}
{% block title %}Edit review{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5 mb-5 w-50">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-50 mt-5 mb-5'>
        <h1 class="page_other mb-3">Edit review</h1>
        <form method="POST" enctype="multipart/form-data" id='frm_edit_review'>
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-3">
            {% if field.name == 'impression' %}
            <div>
            <input type="radio" class="btn-check" name="impression" id="option1" autocomplete="off" value="1" {% if review.impression == 1 %} checked {% endif %}>
            <label class="btn btn-outline-success" for="option1"><i class="fa-regular fa-thumbs-up"></i> Like</label>
            <input type="radio" class="btn-check" name="impression" id="option0" autocomplete="off" value="0" {% if review.impression == 0 %} checked {% endif %}>
            <label class="btn btn-outline-secondary" for="option0">Neutral</label>
            <input type="radio" class="btn-check" name="impression" id="option-1" autocomplete="off" value="-1" {% if review.impression == -1 %} checked {% endif %}>
            <label class="btn btn-outline-danger" for="option-1"><i class="fa-regular fa-thumbs-down"></i> Dislike</label>
            </div>
            {% else %}
            <label class="form-label">{{ field.label_tag }}</label>
            {% render_field field class="form-control" %}
            {% endif %}
            <div class="form-text">
            {{ field.help_text }}
            </div>
          </div>
          {% endfor %}
        </form>
        <div class="d-flex mt-4">
            <a class='btn btn-dark me-auto' href="javascript:$('#frm_edit_review').submit();">Save</a>
            <a class='btn btn-outline-danger' href='#' data-bs-toggle="modal" data-bs-target="#modal-show-review-deletion">Delete</a>
            <div class="modal fade" id="modal-show-review-deletion" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ClearCartModalLabel">
                                <span class="text-dark">Confirmation</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class='text-dark'>Are you sure you want to delete your review?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <form action="{% url 'movies:delete_review' review.pk %}" method="POST" id="frm_delete_review"> {% csrf_token %}
                            <a class='btn btn-outline-danger' href="javascript:$('#frm_delete_review').submit();">Yes</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='mt-5'>
          <a class='link link-secondary text-decoration-none' href="{{ review.movie.get_absolute_url }}">
            <h5>
            <i class="fa-solid fa-arrow-left"></i> {{ review.movie.title }}
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
