<div class="row row-cols-xxl-{{ columns }} row-cols-xl-{{ columns }} row-cols-lg-1 row-cols-md-1 row-cols-sm-1 g-5" style="width: {{ width }}%;">
    {% for review in reviews %}
    <div class="col">
        <div class="border_review p-3 {% if review.rating < 5 %} review_red {% elif review.rating < 7 %} review_yellow {% elif review.rating <= 10 %} review_green {% endif %}" style='height: {{ review_height }}px;'>
            <a href="#" class="link stretched-link" data-bs-toggle="modal" data-bs-target="#modal-show-review{{forloop.counter}}"></a>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-dark fst-italic">{% if review.title %}{{ review.title|striptags|truncatechars:25 }}{% endif %}</span>
                <span class="fw-bold {% if review.rating < 5 %} text-danger {% elif review.rating < 7 %} text-warning {% elif review.rating <= 10 %} text-success {% else %} text-dark {% endif %}">{{ review.rating }}</span>
            </h4>
            <p class='text-secondary'>{% if review.memo %}{{ review.memo|striptags|truncatechars:140 }}{% endif %}</p>
            <!-- Modal Show Description -->
            <div class="modal fade" id="modal-show-review{{forloop.counter}}" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ClearCartModalLabel">
                                <span class="text-dark fst-italic">{% if review.title %}{{ review.title|striptags|truncatechars:25 }}{% endif %}</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class='text-secondary'>{% if review.memo %}{{ review.memo }}{% endif %}</p>
                            <span class='text-dark'>Rating: </span><span class="fw-bold {% if review.rating < 5 %} text-danger {% elif review.rating < 7 %} text-warning {% elif review.rating <= 10 %} text-success {% else %} text-dark {% endif %}">{{ review.rating }}</span>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <p class='me-auto'>By @<a class='link link-dark' href="{{ review.user.get_absolute_url }}">{{ review.user.username }}</a></p>
                            {% if review.user == request.user %}
                            <a class='link link-dark' href="{% url 'movies:update_review' review.pk %}">Edit Review</a>
                            {% endif %}
                            <p class='text-secondary'>{{ review.creation_date|date:"H:i, d.m.Y" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review_bottom mt-2">
                <div class='d-flex justify-content-between'>
                    <p class='fw-medium'>@<a class='link link-dark' href="{{ review.user.get_absolute_url }}">{{ review.user.username }}</a></p>
                    <p class='text-secondary ms-auto'>{{ review.creation_date|date:"H:i, d.m.Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>