{% load static %}
<div class="reviews">
    {% for review in reviews %}
    <div class="col mb-4">
        <div class="border_review p-3 {% if review.impression == -1 %} review_red {% elif review.impression == 0 %} review_gray {% elif review.impression == 1 %} review_green {% endif %}">
            <a href="#" class="link stretched-link" data-bs-toggle="modal" data-bs-target="#modal-show-review{{forloop.counter}}"></a>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-dark fst-italic me-auto">{{ review.title|striptags|truncatechars:22 }}</span>
                {% if review.impression == 1 %}
                <span class="text-success"><i class="fa-regular fa-face-smile"></i></span>
                {% elif review.impression == 0 %}
                <span class="text-muted"><i class="fa-regular fa-face-meh"></i></span>
                {% elif review.impression == -1 %}
                <span class="text-danger"><i class="fa-regular fa-face-frown"></i></span>
                {% endif %}
            </h4>
            <p class='text-secondary'>{% if review.memo %}{{ review.memo|striptags|truncatechars:1000 }}{% endif %}</p>
            <!-- Modal Show Description -->
            <div class="modal fade" id="modal-show-review{{forloop.counter}}" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ClearCartModalLabel">
                                <span class="text-dark me-auto">
                                    <a class='link-secondary text-decoration-none' href="{{ review.movie.get_absolute_url}}">{{ review.movie.title }}</a>
                                </span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-dark fst-italic mb-3">{{ review.title|striptags|truncatechars:25 }}</h5>
                            <span class='text-secondary'>{{ review.memo }}</span>
                            <h6 class='mt-3'>
                            {% if review.impression == 1 %}
                            <span class="text-success"><i class="fa-regular fa-face-smile"></i> Nice</span>
                            {% elif review.impression == 0 %}
                            <span class="text-muted"><i class="fa-regular fa-face-meh"></i> Meh</span>
                            {% elif review.impression == -1 %}
                            <span class="text-danger"><i class="fa-regular fa-face-frown"></i> Bad</span>
                            {% endif %}
                            </h6>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <p class='me-auto'>
                                <a class='link link-dark text-decoration-none' href="{{ review.user.get_absolute_url }}">
                                {% if review.user.image %}
                                <img src="{{ review.user.image.url }}" width="20" height="20" class="user_image" alt="user_image">
                                {% else %}
                                <img src="{% static 'default.jpg' %}" width="25" height="25" class="user_image" alt="Default Image">
                                {% endif %}
                                <span class='fw-medium ms-1' style="vertical-align: middle;">
                                {{ review.user.username }}
                                </span>
                                </a>
                            </p>
                            {% if review.user == request.user %}
                            <a class='link link-secondary' href="{% url 'movies:update_review' review.pk %}">Edit</a>
                            {% endif %}
                            <p class='text-secondary'>{{ review.creation_date|date:"H:i, d.m.Y" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review_bottom mt-auto">
                <div class='d-flex justify-content-between'>
                    <a class='link link-dark text-decoration-none' href="{{ review.user.get_absolute_url }}">
                    {% if review.user.image %}
                    <img src="{{ review.user.image.url }}" width="20" height="20" class="user_image" alt="user_image">
                    {% else %}
                    <img src="{% static 'default.jpg' %}" width="25" height="25" class="user_image" alt="Default Image">
                    {% endif %}
                    <span class='fw-medium ms-1' style="vertical-align: middle;">
                    {{ review.user.username }}
                    </span>
                    </a>
                    <span class='text-secondary ms-auto'>{{ review.creation_date|date:"H:i, d.m.Y" }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>